<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8">
    <title>Присоединиться к квизу</title>
    </head>
    <body>
        <div>
            <input id="code" placeholder="Код (6 цифр)" value="{{ code or '' }}"/>
            <button id="joinBtn">Войти</button>
        </div>
        <hr/>
        <div id="status"></div>
        <div id="question"></div>
        <div id="progress"></div>
        <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" crossorigin="anonymous"></script>

        <script src="{{ url_for('quiz_app.static', filename='js/join.js') }}?v=1"></script>
    </body>
</html>