<!doctype html>
<html>
    <head>
    <meta charset="utf-8">
    <title>Комната ведущего</title>
    </head>
    <body>
        <h3>Code of session: {{ code }}</h3>
        <div id="host-root" data-code="{{ code }}"></div>

        <button id="start">Старт</button>
        <button id="next">Further</button>
        <button id="finish">Complete</button>

        <div id="state"></div>
        <div id="question"></div>
        <div id="progress"></div>

        <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" crossorigin="anonymous"></script>
        <script src="{{ url_for('quiz_app.static', filename='js/teacher_room.js') }}?v=1"></script>
    </body>
</html>