<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Комната ведущего</title>
    <link rel="stylesheet" href="{{ url_for('quiz_app.static', filename='js/css/teacher_room.css') }}">
</head>
<body>
    <div id="particles-js"></div>
    <div class="main-info-frame">
        <div class="quiz-link-frame">
            <div class="frame-left">
                <div class="func-number-frame">
                    <h1>1</h1>
                </div>
                <div class="func-text-frame">
                    <h3>Приєднуйтесь з будь-якого пристрою</h3>
                </div>
                <h3 id="quiz-link">{{ url_for('quiz_app.host_page', code=code, _external=True) }}</h3>
                <img src="{{ url_for('quiz_app.static', filename='images/copy-icon.svg') }}" alt="Copy" id="copy-link-icon">
            </div>
        </div>

        <div class="quiz-code-frame">
            <div class="frame-left">
                <div class="func-number-frame">
                    <h1>2</h1>
                </div>
                <div class="func-text-frame">
                    <h3>Введіть код підключення:</h3>
                </div>
                <h3 class="connect-code" id="quiz-code">{{ code }}</h3>
                <img src="{{ url_for('quiz_app.static', filename='images/copy-icon.svg') }}" alt="Copy" id="copy-code-icon">
            </div>
            <div id="host-root" data-code="{{ code }}"></div>
        </div>

        <div class="start-btn-frame">
            <button id="start">Почати зараз</button>
            <button id="next">Next</button>
            <button id="finish">Complete</button>
        </div>
    </div>

    <div id="state"></div>
    <div id="question"></div>
    <div id="progress"></div>
    <div id="stats"></div>

    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('quiz_app.static', filename='js/teacher_room.js') }}?v=1"></script>
    <script src="{{ url_for('static', filename='js/particles.js') }}"></script>
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>

    <div class="participants-frame">
        <p id="participants-count">Учасники (0)</p>
        <div id="participants-list"></div>
    </div>

</body>
</html>