{% extends 'base.html' %}

{% block title %}Authorization{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('authorization.static', filename='css/authorization.css') }}">
{% endblock %}

{% block main %}

<div class="login-window">    
    <h1 class="title">Авторизація</h1>
    <form method="POST">
        <div class="text-div">
            <p class="text-up-input">Логін:</p>
            <input type="text" name="name" class="username" required>
        </div>
        <div class="text-div">
            <p class="text-up-input">Пароль:</p>
            <input type="password" name="password" class="password" required>
        </div>
        <p class="text">Ще не зареєстровані?  <a href="/registration">Перейти до реєстрації</a></p>
        <button class="button" type="submit">Надіслати</button>
    </form>
</div>
{% endblock %}
