main{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
/* Join */
#particles-js {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 0;
    background: #1e1e1e;
}

.particles-js-canvas-el{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
}

.join-code-div{
    position: relative;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 13px 24px;
    gap: 100px;
    max-width: 796px;
    max-height: 76px;
    width: 100%;
    height: 100%;
    border: 2px solid #000;
    border-radius: 20px;
    z-index: 2;
}
.join-code-div input{
    position: absolute;
    outline: none;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    border-radius: 20px;
    padding-left: 20;
    font-size: 25px;
    font-weight: 700;
}
.join-code-div input::placeholder{
    color: #000;
}
.join-code-div button{
    position: absolute;
    display: flex;
    flex-direction: column;
    max-width: 272px;
    max-height: 50px;
    width: 100%;
    height: 100%;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 9px 49px;
    background-color: #2382FF;
    color: #fff;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    z-index: 3;
    border-radius: 20px;
    font-size: 25px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    left: 500px;
    top: 13px;
}
/* JoinRoom */
.main-window{
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #607C94;
    width: 1850px;
    height: 800px;
    border-radius: 60px;
    padding: 20px 0px;
    gap: 35px;
}
.main-window-quiz-name{
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    background: none;
}
.main-window-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1810px;
    height: 130px;
    padding: 0 95px;
    border-radius: 40px;
    background-color: rgb(40 40 50 / 50%);
}
.mwm-name{
    font-size: 35px;
    background: none;
    font-weight: 600;
    color: #fff;
}
.mwm-participants-count{
    display: flex;
    flex-direction: row;
    padding: 10px;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: 70px;
    background: none;   
}
.mwm-participants-count-title{
    font-size: 35px;
    font-weight: 600;
    color: #fff;
    background:none;
}
.mwm-participants-count-count{
    padding: 10px 15px;
    background-color: rgb(0 0 0 / 50%);
    border-radius: 123123px;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}
.main-window-other-participants{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: none;
    width: 1810px;
    height: fit-content;
    max-height: 609px;
    row-gap: 20px;
    justify-content: space-around;
    align-items: start;
    background: none;
    overflow-y: auto;
}
.main-window-other-participants::-webkit-scrollbar{
    width: 0;
    visibility: hidden;
}
.mwop-user{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    width: max-content;
    height: 100px;
    padding: 28px 30px;
    background-color: #fff;
}
.mwop-user p{
    color: #000;
    font-size: 25px;
    font-weight: 600;
    background: none;
}

/* AnswerRoom */

.div-section-answer{
    justify-content: start;
    align-items: center;
    flex-direction: column;
    max-width: 1500px;
    max-height: 900px;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 20px;

}

.div-section-answer-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    max-width: 1500px;
    width: 100%;
    max-height: 63px;
    height: 100%;
    z-index: 1;
    border-bottom: 1px solid black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.div-section-answer-title p{
    font-size: 34px;
    font-weight: 500;

}
.div-section-answer-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1480px;
    width: 100%;
    max-height: 817px;
    height: 100%;
    gap: 20px;
    padding: 28px;
    border: 2px solid black;
    border-radius: 10px;
}
.div-section-answer-content-main{
    display: flex;
    flex-direction: row;
    max-width: 1500px;
    max-height: 837px;
    width: 100%;
    height: 100%;
    gap: 10px;
    padding: 10px;
    justify-content: start;
    align-items: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.div-section-answer-content-question{
    max-width: 1424px;
    max-height: 383px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 110px 180px;
    gap: 0px;
    border: 2px solid black;
    border-radius: 10px;
}
.div-section-answer-content-question p{
    font-size: 20px;
    font-weight: 500;
}
.div-section-answer-content-answer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1424px;
    max-height: 358px;
    width: 100%;
    height: 100%;
    gap: 10px;
    padding: 29px;
    border: 2px solid black;
    border-radius: 10px;
}
.div-section-answer-content-answer input{
    max-width: 600px;
    max-height: 65px;
    width: 100%;
    height: 100%;
    gap: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4px 20px;
    border: 1px solid black;
    border-radius: 10px;
}
.div-section-answer-content-answer button{
    width: 65px;
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 23px 12px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(97 208 63 / 50%);
    cursor: pointer;
}

.waiting-overlay{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(0 0 0 / 50%);
}
.waiting-div{
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 135px;
    gap: 17px;
    justify-content: start;
    align-items: center;
    padding: 10px 20px;
    border-radius: 30px;
    background-color: #fff;
}
.waiting-div p{
    font-size: 30px;
    font-weight: 500;
    background: none;
}
.waiting-div img{
    width: 60px;
    height: 60px;
    background: none;
}
.display-flex{
    display: flex;
}
.display-none{
    display: none;
}