.main-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

/* Панель фиксированного размера */
.panel-box {
    background: #5a768e;
    border-radius: 30px;
    padding: 40px 60px;
    display: flex;
    flex-direction: column; /* заголовок сверху, колонки под ним */
    gap: 30px; /* расстояние между заголовком и колонками */
    width: 1596px;
    height: 900px;
    box-sizing: border-box;
}

/* Заголовок панели сверху */
.panel-title {
    font-size: 28px;
    font-weight: bold;
    background: #5a768e;
    color:white;
    text-align: center;
    margin: -14;
}

/* Контейнер колонок */
.columns-container {
    display: flex;
    gap: 50px;
    
    background: #5a768e;
    color:white;
    justify-content: center;
    flex: 1; /* колонки занимают оставшееся пространство */
}

/* Колонки */
.column {
    width: 437px;   /* фиксированная ширина */
    height: 800px;  /* фиксированная высота */
    border: 2px solid #d6d6d6;
    border-radius: 15px;
    padding: 20px;
    background: transparent;
    display: flex;
    flex-direction: column;
}


/* Заголовки колонок */
.column h3 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    background: #5a768e;
    color:white;
    background: transparent;
    padding: 0;
}

/* Строка пользователя */
.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #5a768e;
    color:white;
    border-radius: 20px;
    padding: 6px 12px;
    margin-bottom: 12px;
}

/* Левая часть строки: аватар + имя с серым фоном */
.user span {
    display: flex;
    align-items: center;
    gap: 10px;
    background: #d6d6d6; /* общий серый фон только для имени и аватара */
    padding: 4px 8px;
    border-radius: 15px;
    color: #000;
    font-size: 15px;
    flex-grow: 0.9;
}

/* Иконка аватара */
.user img {
    width: 28px;
    height: 28px;
    border-radius: 50%;
}

/* Кнопки действий остаются без изменений */
.actions {
    display: flex;
    gap: 8px;
    background: #5a768e;

}


.btn {
    
    border: none;
    background: transparent;
    cursor: pointer;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn img {
    
    width: 30px;
    height: 30px;
}
