{% extends 'base.html' %}

{% block title %} New Quiz {% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('New_Quiz.static', filename='css/New_Quiz_App.css') }}">
<script src="{{ url_for('New_Quiz.static', filename='js/jquery-3.7.1.min.js') }}"></script>
<script src="{{ url_for('New_Quiz.static', filename='js/New_Quiz_App.js') }}"></script>
{% endblock %}

{% block main %}
<div class="section">
    <div class="title-div">
        <p class="title-p">Нові тести</p>
    </div>
    
    <div class="div-content">
        <div class="side-bar-content">
            <button class="big-choice active">
                <img src="{{ url_for('New_Quiz.static', filename='img/Big-Choice.svg') }}" alt="Великий вибір">
                <p>Великий вибір</p>
            </button>
            
            <button class="fill-form">
                <img src="{{ url_for('New_Quiz.static', filename='img/Fill-Form.svg') }}" alt="Заповнити форму">
                <p>Заповнити форму</p>
            </button>
            
            <div class="scroll-frame">
                {% for question in questions %}
                    <div>{{ question }}</div>
                {% endfor %}
            </div>
        </div>

        <div class="new-quiz-content">
            <input type="hidden" id="quiz-name" value="{{ quiz_name }}">
            <div class="view-container">
                <div class="view large-selection-view" data-view="large-selection">
                    <div class="fill-form-frame">
                        <div class="ai-container">
                            <img class="ai-icon" src="{{ url_for('New_Quiz.static', filename='img/ai-icon.svg') }}" alt="Іконка ШІ"/>
                            <p class="ia-label">Згенерувати запитання</p>
                        </div>
                        <input type="text" class="question-input" placeholder="Напишіть запитання:">
                        <button class="enter-btn">Ввести</button>
                    </div>
                    
                    <div class="answers-options-frame">
                        <div class="answer-container">
                            <input type="text" class="answers-options-frame-blue" placeholder="Відповідь 1">
                            <input type="checkbox" class="answer-checkbox">
                        </div>
                        
                        <div class="answer-container">
                            <input type="text" class="answers-options-frame-green" placeholder="Відповідь 2">
                            <input type="checkbox" class="answer-checkbox">
                        </div>
                        
                        <div class="answer-container">
                            <input type="text" class="answers-options-frame-yellow" placeholder="Відповідь 3">
                            <input type="checkbox" class="answer-checkbox">
                        </div>
                        
                        <div class="answer-container">
                            <input type="text" class="answers-options-frame-red" placeholder="Відповідь 4">
                            <input type="checkbox" class="answer-checkbox">
                        </div>
                    </div>
                </div>

                <div class="view fill-form-view" data-view="fill-form" style="display: none;">
                    <div class="fill-form-frame">
                        <div class="ai-container">
                            <img class="ai-icon" src="{{ url_for('New_Quiz.static', filename='img/ai-icon.svg') }}" alt="Іконка ШІ"/>
                            <p class="ia-label">Згенерувати запитання</p>
                        </div>
                        <input type="text" class="question-input" placeholder="Напишіть запитання:">
                        <button class="enter-btn">Ввести</button>
                    </div>
                    
                    <div class="fill-form-frame-2">
                        <input type="text" class="answer-input" placeholder="Напишіть відповідь:">
                        <button class="enter-btn">Ввести</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal-overlay" id="modalOverlay">
    <div class="modal-content">
        <h1>Генерація запитань та відповідей на тему</h1>
        <input class="input-ai-promt" type="text" placeholder="Введіть тему для генерації запитання">
        <button class="submit-ai-promt-btn">Надіслати</button>
    </div>
</div>
{% endblock %}