#particles-js {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 0;
    background: #1e1e1e;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}


.join-page {
    position: relative;
    z-index: 1;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.join-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vh;
    margin-bottom: 30px;
}

.input-wrapper {
    position: relative;
    width: 100%;
    max-width: 796px;
}

.input-wrapper input {
    width: 100%;
    height: 76px;
    padding: 10px 170px 10px 15px;
    font-size: 25px;
    font-weight: bold;
    border: 2px solid #000000;
    border-radius: 20px;
    box-sizing: border-box;
    background-color: #ffffff;
}

.input-wrapper input::placeholder {
    color: #000000;
}

.input-wrapper button {
    position: absolute;
    top: 13px;
    right: 13px;
    height: 50px;
    width: 272px;
    padding: 0;
    background-color: #2382FF;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.passed-quizzes {
    width: 100%;
    max-width: 1500px;
    background-color: #DCDCDC;
    border: 2px solid #000000;
    border-radius: 30px;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto;
}

.scroll-title {
    padding-left: 15px;
    padding-bottom: 10px;
    font-size: 32px;
    font-weight: 500;
    margin: 0;
    background-color: transparent;
}

.scroll-quizzes {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 10px;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
    overflow-y: hidden;
    max-height: 290px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: transparent;
}

.scroll-quizzes::-webkit-scrollbar {
    display: none;
}

.quiz-pcs {
    width: 270px;
    height: 251px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    overflow: hidden;
}

.quiz-pcs img {
    width: 100%;
    height: 185px;
    object-fit: cover;
    background-color: transparent;
}

.quiz-pcs p {
    padding: 15px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    margin: 0;
    background-color: transparent;
}

.hidden {
    display: none !important;
}

.content-visible {
    display: block !important;
}

.content-hidden {
    display: none !important;
}

.join-page,
#joinNextContainer,
#student2Block {
    transition: opacity 0.3s ease;
}

#student2Block {
    margin-top: 35px;   

}