main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;

}

body{
    overflow-x: hidden;
}

.section{
    display: flex;
    flex-direction: column;
    width: 1910px;
    max-height: 100%;
    /* height: 800px; */
    align-items: center;
    justify-content: start;
}

.quiz-text{
    width: 728px;
    height: 63px;

    text-align: center;
    
    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 62px;
    
    color: #000000;
}

.result-frame{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    
    width: 1800px;
    height: 1490px;
    
    background: #607C94;
    border: 1px solid #FFFFFF;
    box-shadow: 0px 271px 108px rgba(0, 0, 0, 0.01), 0px 152px 91px rgba(0, 0, 0, 0.05), 0px 68px 68px rgba(0, 0, 0, 0.09), 0px 17px 37px rgba(0, 0, 0, 0.1);
    border-radius: 60px;

    order: 1;
}

.students-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 816px;
    height: 1490px;

    border: 2px solid #000000;
    background: #607C94;

    align-self: stretch;

    border-radius: 60px 0px 0px 60px;

    overflow-x: hidden;
    overflow-y: hidden;
}

.student-name-accuracy{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 7px 0px;
    gap: 20px;

    width: 816px;
    height: 74px;


    border-bottom: 2px solid #000000;
    background: #607C94;

    align-self: stretch;

    border-radius: 60px 0px 0px 0px;

}

.name{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 19px;
    gap: 10px;

    margin: 0 auto;
    width: 408px;
    height: 70px;

    background: #607C94;

    flex-grow: 1;

    border-radius: 60px 0px 0px 0px;
}

.name-text{
    width: 110px;
    height: 50px;

    background: #607C94;

    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;


    color: #FFFFFF;
}

.accuracy{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 19px;
    gap: 10px;

    margin: 0 auto;
    width: 408px;
    height: 70px;

    background: #607C94;


    order: 1;
    flex-grow: 1;
}

.accuracy-text{
    width: 177px;
    height: 50px;

    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;

    color: #FFFFFF;

    background: #607C94;
}

.student-quiz-info-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 816px;
    height: 100px;
    background: #607C94;


    order: 1;
    align-self: stretch;
}

.quiz-student-name-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 0px 0px 20px;
    gap: 10px;

    margin: 0 auto;
    width: 408px;
    height: 100px;

    align-self: stretch;
    flex-grow: 1;

    background: #607C94;

}

.quiz-student-name-text-1{
    width: 388px;
    height: 50px;

    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;

    color: #FFFFFF;
    background: #607C94;

    flex-grow: 1;

}

.quiz-student-accuracy-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 0px;
    gap: 10px;

    margin: 0 auto;
    width: 408px;
    height: 100px;

    order: 1;
    align-self: stretch;
    flex-grow: 1;

    background: #607C94;

}

.quiz-student-accuracy-text-1{
    width: 229px;
    height: 50px;

    font-family: 'Quicksand', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;

    color: #FFFFFF;
    background: #607C94;
}

.accuracy-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;

    width: 984px;
    height: 1490px;

    background: #FFFFFF;

    border-radius: 0px 60px 60px 0px;

    order: 1;
    align-self: stretch;
    flex-grow: 1;

    overflow-x: scroll;
    overflow-y: scroll;


}

.first-text{
    width: 963px;
    height: 53px;

    text-align: center;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 52px;

    color: #000000;

    flex: none;
    order: 1;
}

.main-div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 944px;
    height: 625px;

    background: #FFFFFF;

    align-self: stretch;
    flex-grow: 1;

    order: 2;
}

#main{
    width: 900px;
    height: 600px;
}

.second-text{
    width: 963px;
    height: 72px;

    text-align: center;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 52px;

    color: #000000;

    flex: none;
    order: 3;

}


.main-div-2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;

    width: 964px;
    height: 670px;

    align-self: stretch;
    flex-grow: 0;

    order: 4;
}

#main-2{
    width: 966px;
    height: 605px;
}


.accuracy-info::-webkit-scrollbar{
    width: 0;
    background: transparent;
}

