{% extends 'base.html' %}

{% block title %} Home Page {% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('control.static', filename='css/control.css') }}">
{% endblock %}

{% block main %}
<main class="main-panel">
    <div class="panel-box">

        <h2 class="panel-title">Панель керування класом</h2>

        <div class="columns-container">

            
            <div class="column">
                <h3>Учасники ({{ students|length }})</h3>
                {% for s in students %}
                <div class="user">
                    <span>
                        <img src="{{ url_for('control.static', filename='img/user.png') }}">
                        {{ s.name }}
                    </span>
                    <form action="{{ url_for('control.remove_student', student_id=s.id) }}" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-remove">
                            <img src="{{ url_for('control.static', filename='img/close.png') }}">
                        </button>
                    </form>
                </div>
                
                {% endfor %}
            </div>

           
            <div class="column">
                <h3>Запити ({{ requests|length }})</h3>
                {% for r in requests %}
                <div class="user">
                    <span>
                        <img src="{{ url_for('control.static', filename='img/user.png') }}">
                        {{ r.name }}
                    </span>
                    <div class="actions">
                       
                        <form action="{{ url_for('control.accept_student', student_id=r.id) }}" method="post" style="display:inline;">
                          <button type="submit" class="btn btn-accept">
                              <img src="{{ url_for('control.static', filename='img/check.png') }}">
                          </button>
                      </form>
                      

                       
                        <form action="{{ url_for('control.remove_student', student_id=r.id) }}" method="post" style="display:inline;">
                            <button type="submit" class="btn btn-remove">
                                <img src="{{ url_for('control.static', filename='img/close.png') }}">
                            </button>
                        </form>
                    </div>
                </div>
                
                {% endfor %}
            </div>

        </div>
    </div>
</main>
{% endblock %}
