{% extends 'base.html' %}

{% block title %} Home Page {% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('control.static', filename='css/control.css') }}">
{% endblock %}

{% block main %}
<main class="main-panel">
    <div class="panel-box">
  
      <h2 class="panel-title">Панель керування класом</h2>
  

      <div class="columns-container">
        <div class="column">
          <h3>Учасники (6)</h3>
          <div class="user">
            <span><img src="{{ url_for('control.static', filename='img/user.png') }}" alt="user"> Ім'я Прізвище</span>
            <button class="btn btn-remove"><img src="{{ url_for('control.static', filename='img/close.png') }}" alt="remove"></button>
          </div>
          <div class="user">
            <span><img src="{{ url_for('control.static', filename='img/user.png') }}" alt="user"> Ім'я Прізвище</span>
            <button class="btn btn-remove"><img src="{{ url_for('control.static', filename='img/close.png') }}" alt="remove"></button>
          </div>
          <div class="user">
            <span><img src="{{ url_for('control.static', filename='img/user.png') }}" alt="user"> Ім'я Прізвище</span>
            <button class="btn btn-remove"><img src="{{ url_for('control.static', filename='img/close.png') }}" alt="remove"></button>
          </div>
          <div class="user">
            <span><img src="{{ url_for('control.static', filename='img/user.png') }}" alt="user"> Ім'я Прізвище</span>
            <button class="btn btn-remove"><img src="{{ url_for('control.static', filename='img/close.png') }}" alt="remove"></button>
          </div>
          <div class="user">
            <span><img src="{{ url_for('control.static', filename='img/user.png') }}" alt="user"> Ім'я Прізвище</span>
            <button class="btn btn-remove"><img src="{{ url_for('control.static', filename='img/close.png') }}" alt="remove"></button>
          </div>
          <div class="user">
            <span><img src="{{ url_for('control.static', filename='img/user.png') }}" alt="user"> Ім'я Прізвище</span>
            <button class="btn btn-remove"><img src="{{ url_for('control.static', filename='img/close.png') }}" alt="remove"></button>
          </div>
        </div>
  
        <div class="column">
          <h3>Запити (6)</h3>
          <div class="user">
            <span><img src="{{ url_for('control.static', filename='img/user.png') }}" alt="user"> Ім'я Прізвище</span>
            <div class="actions">
              <button class="btn btn-accept"><img src="{{ url_for('control.static', filename='img/check.png') }}" alt="accept"></button>
              <button class="btn btn-remove"><img src="{{ url_for('control.static', filename='img/close.png') }}" alt="remove"></button>
            </div>
          </div>
          <div class="user">
            <span><img src="{{ url_for('control.static', filename='img/user.png') }}" alt="user"> Ім'я Прізвище</span>
            <div class="actions">
              <button class="btn btn-accept"><img src="{{ url_for('control.static', filename='img/check.png') }}" alt="accept"></button>
              <button class="btn btn-remove"><img src="{{ url_for('control.static', filename='img/close.png') }}" alt="remove"></button>
            </div>
          </div>
          <div class="user">
            <span><img src="{{ url_for('control.static', filename='img/user.png') }}" alt="user"> Ім'я Прізвище</span>
            <div class="actions">
              <button class="btn btn-accept"><img src="{{ url_for('control.static', filename='img/check.png') }}" alt="accept"></button>
              <button class="btn btn-remove"><img src="{{ url_for('control.static', filename='img/close.png') }}" alt="remove"></button>
            </div>
          </div>
          <div class="user">
            <span><img src="{{ url_for('control.static', filename='img/user.png') }}" alt="user"> Ім'я Прізвище</span>
            <div class="actions">
              <button class="btn btn-accept"><img src="{{ url_for('control.static', filename='img/check.png') }}" alt="accept"></button>
              <button class="btn btn-remove"><img src="{{ url_for('control.static', filename='img/close.png') }}" alt="remove"></button>
            </div>
          </div>
          <div class="user">
            <span><img src="{{ url_for('control.static', filename='img/user.png') }}" alt="user"> Ім'я Прізвище</span>
            <div class="actions">
              <button class="btn btn-accept"><img src="{{ url_for('control.static', filename='img/check.png') }}" alt="accept"></button>
              <button class="btn btn-remove"><img src="{{ url_for('control.static', filename='img/close.png') }}" alt="remove"></button>
            </div>
          </div>
          <div class="user">
            <span><img src="{{ url_for('control.static', filename='img/user.png') }}" alt="user"> Ім'я Прізвище</span>
            <div class="actions">
              <button class="btn btn-accept"><img src="{{ url_for('control.static', filename='img/check.png') }}" alt="accept"></button>
              <button class="btn btn-remove"><img src="{{ url_for('control.static', filename='img/close.png') }}" alt="remove"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  
{% endblock %}
