{% extends 'base.html' %} 

{% block title %} Quizzes - Кімната тесту {% endblock%}

{% block head %}
<link
	rel="stylesheet"
	href="{{ url_for('quiz_app.static', filename='css/new/teacher_room.css') }}"
/>
{% endblock %} 

{% block main %}
<div id="hostcode" style="display: none; opacity: 0;">{{ code }}</div>
<div class="main-containerq">
	<div class="content-wrapperq">
		<header class="headerq">
			<div class="quiz-info-gridq">
				<div>
					<p class="info-labelq">Предмет</p>
					<p class="info-valueq">{{ test.subject }}</p>
				</div>
				<div>
					<p class="info-labelq">Тест</p>
					<p class="info-valueq">{{ test.name }}</p>
				</div>
				<div>
					<p class="info-labelq">Викладач</p>
					<p class="info-valueq">{{ teacher_name }}</p>
				</div>
			</div>
		</header>
		<div class="main-gridq">
			<div class="status-panelq">
				<div class="panel-cardq">
					<div class="count-sectionq">
						<div class="count-wrapperq">
							<span class="count-numberq" id="connectedCount"
								>0</span
							>
						</div>
						<p class="count-labelq">підключених учасників</p>
					</div>

					<div class="controls-sectionq">
						<button class="start-btnq" id="startBtn">
							<i class="bi bi-play-fill btn-iconq"></i>
							Розпочати тестування
						</button>

						<p class="controls-hintq">
							Переконайтесь, що всі учасники підключені
						</p>
					</div>
				</div>
			</div>
			<div class="participants-panelq">
				<div class="participants-headerq">
					<h2 class="participants-titleq">
						<i class="bi bi-people title-iconq"></i>
						Учасники
					</h2>
				</div>

				<div class="participants-listq" id="participantsList"></div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
{% block scripts %}
<script
	defer
	src="https://cdn.socket.io/4.7.5/socket.io.min.js"
	crossorigin="anonymous"
></script>
<script defer src="{{ url_for('quiz_app.static', filename='js/new/teacher_room.js') }}"></script>
{% endblock %}